body{
    color: #333;
}
.main{
    line-height: 1.5;

}
.main nav{
    height: 60px;
    color:#999;
    background-color: #47464a;
    text-align: center;
    line-height: 60px;
}
.main nav a{
    margin: 0 38px;
}
.main nav a:hover{
    color:white;
}
.main nav a.select{
    color: red;
}
.main .container{
    width: 1120px;
    margin: 0 auto;

}
.main .container .choose{
    border: 1px solid black;
    margin: 40px 0;
    font-size: 14px;
    line-height: 30px;
    padding:0 30px;
}
.main .container .choose .choose-item{
    margin: 1em 0;
    border-bottom: 1px solid black;
}
.main .container .choose .choose-item .left{
    float: left;
    color: #999;
}
.main .container .choose .choose-item .right{
    float:left;
    width: 1000px;

}
clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.main .container .choose .choose-item .right li{
    float: left;
    margin: 0 9px;
    padding: 0 6px;
}
.main .container .choose .choose-item .right li:hover{
    background-color: red;
    color: white;
    border-radius: 15px;
}
.main .container .choose .choose-item .right li.select{
    background-color: red;
    color: white;
    border-radius: 15px;
}
.main .container .movies .moves-item .poster img{
    width: 160px;
    height: 220px;
}
.main .container .movies .moves-item{
    float: left;
    width: 160px;
    margin: 10px 32px 10px 0; 
}
.main .container .movies .moves-item:nth-child(6n){
    margin-right: 0;
}
.main .container .movies .moves-item .name{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px;
}
.main .container .movies .moves-item .score{
    text-align: center;
    color: #ffb400;
    line-height: 2.5;
    font-style: italic;
}
.main .container .movies .moves-item .score::first-letter{
    font-size: 1.5em;
}
.main .container .target{
    text-align: center;
}
.main .container .target a{
    display: inline-block;
    border: 2px solid gray;
    width: 25px;
    margin: 25px 1px;
}
.main .container .target a:nth-child(3){
    width: 50px;
}
.main .container .target a:hover{
    color: white;
    background-color: red;
    border: 2px solid red;
}
.main .container .target a.select{
    background-color: red;
    color: white;
    border: 2px solid red;
}


