body{
    min-width: 1260px;
}

.nav{
    width: 100%;
    height: 20px;
    margin: 0 auto;
    background-color: black;
}

.nav .container{
    width: 80%;
    min-width: 1260px;
    height: 20px;
    margin: 0 auto;
    background-color: blue;
}