img{
    width: 100%;
}
.modal{
    position: fixed;
    width :100%;
    height:100%;
    left: 0;
    top: 0;
    background-color:rgba(0,0,0,.5) ;
}
.container{
    width: 404px;
    height: 512px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 1em;
    border-radius:6px ;
}
.guanbi{
    float:right;
    margin: 2px;
    background-color: rgba(0,0,0,.5);
    padding: 1px 2px;
    cursor:pointer;
}
/*
每个颜色都具有透明通道，0~1
rgba(r g b alpha)
hex #rgb透（00~ff）
*/