.header{
    background-color: #e3e4e5;
    color: #999;
    height: 40px;
    line-height: 40px;
}
.header .topnav>li{
    float:left;
    margin:0 20px;
    background-color: red;
    width: 150px;
    text-align: center;
    height: 40px;
    box-sizing: border-box;
    position: relative;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.header .topnav>li .submenu{
    text-align: left;
    line-height: 1.5;
    width: 300px;
    display: none;
    box-sizing: border-box;
    border: 1px solid;
    position: absolute;
    right: -1px;
}
.header .topnav>li:hover{
    background-color: blue;
    border: 2px solid #ccc;
    border-bottom: none;
    line-height: 36px;
}
.header .topnav>li:hover .submenu{
    display: block;
}
.header .topnav>li:hover::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: white;
    bottom: 0;
    left: 0;
}
