.big_container{
    background-color: rgba(122, 100, 100, 0.072);
    padding-bottom: 100px;
    padding-top: 50px;
}
.container .left{
    float: left;
    width: 100px;
    margin-right: 20px;
}
.container .left h1{
    font-size: 24px;
    color: #017a85;
    margin-bottom: 12px;
}
.container .left ul li{
    color: #017a85;
    font-size: 14px;
    margin-top: 5px;
}
.container .right{
    float: left;
    width: 830px;
    margin-top: 5px;
}
.container .right h1{
    ont: 15px Arial, Helvetica, sans-serif;
    color: #15af41;
    margin: 0 0 12px 0;
    line-height: 150%;
}
.container .right h1 a{
    color: #017a85;
}
.container .right .item{
    float: left;
    width: 248px;
    margin-top: 30px;
    margin-left: 28px;
}
.container .right .item .picture{
    background-image: url("../picture/中部图例1.jpg");
    background-size: contain;
    display: inline-block;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    margin-right: 15px;
}
.container .right .item .name{
    display: inline-block;
}
.container .right .item .name a{
    color: #017a85;
    font-size: 13px;
}
.container .right .item .name p{
    color: #999;
    font-size: 12px;
    margin-top: 19px;
}
