body{
    font-size: 12px;
    color: #9b9b9b;
    font-family: Helvetica, Arial, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
a{
    color: #41ac42;
}
.container{
    position: relative;
    background: transparent;
    height: 296px;
    max-width: 300px;
    min-height: 200px;
    overflow: hidden;
    padding: 30px 10px 10px;
    width: 300px;
    margin: auto;
}
.container img{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 260px;
    top: 10px;
    cursor: pointer;
}
.container .main_unselected{
    display: none;
}
/* 第一个登录页 */
.container .login_up{
    width: 280px;
    height: 24px;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
    cursor: pointer;
}
.container .login_up .left, .right{
    float: left;
    width: 140px;
    height: 24px; 
    text-align: center;
    line-height: 24px;
    color: #9b9b9b;
}
.container .login_up .selected{
    border-bottom: 1px solid #494949;
    color: #333;
    font-weight: 600;
}
.login .login-notice{
    margin-bottom: 10px;
}
.login input{
    box-sizing: border-box;
    width: 280px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login .phone, .code{
    position: relative;
    margin: 8px 0;
}
.login .phone input{
    text-indent: 60px;
    padding: 8px 0;
}
.login .phone span{
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 15px;
    font-weight: 700;
    color: black;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    cursor: pointer;
}

.login .code input{
    text-indent: 10px;
}
.login .code button{
    position: absolute;
    left: 190px;
    top: 6px;
    background-color: transparent;
    border: none;
    color: #41ac42;
    font-size: 13px;
}
.login .login_button{
    width: 280px;
    height: 34px;
    border: none;
    background-color: #41ac42;
    border-radius: 3px;
    color: white;
    background-color:rgba(66,189,86,.5);
}
.login .login_button{
    /* background-color: rgba(66,189,86,1); */
}
.login .no_code{
    margin: 10px 20px;
    text-align: right;
}
.container .login_other{
    width: 280px;
    height: 33px;
    line-height: 33px;
    border-top: 1px solid #ccc;
    padding-top: 8px;
}
.container .login_other span{
    font-size: 11px;
}
.container .login_other .wechat{
    display: inline-block;
    font-size: 0;
    height: 22px;
    width: 22px;
    background: url("../picture/wechat.svg") no-repeat;
    background-size: 100%;
    margin-right: 10px;
}
.container .login_other .weibo{
    display: inline-block;
    font-size: 0;
    height: 22px;
    width: 22px;
    background: url("../picture/weibo.svg") no-repeat;
    background-size: 100%;
}

/* 第二个登录页 */

.login_another .login-notice{
    margin-bottom: 10px;
    text-align: right;
    margin-right: 20px;
}
.login_another input{
    box-sizing: border-box;
    width: 280px;
    height: 33px;
    line-height: 33px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.login_another .phone, .code{
    position: relative;
    margin: 8px 0;
}
.login_another .phone input{
    text-indent: 10px;
    padding: 8px 0;
}
.login_another .phone span{
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 15px;
    font-weight: 700;
    color: black;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.login_another .code input{
    text-indent: 10px;
}
.login_another .code button{
    position: absolute;
    left: 190px;
    top: 6px;
    background-color: transparent;
    border: none;
    color: #41ac42;
    font-size: 13px;
}
.login_another .login_button{
    width: 280px;
    height: 34px;
    border: none;
    background-color: #41ac42;
    border-radius: 3px;
    color: white;
    background-color:rgba(66,189,86,.5);
}
.login_another .login_button{
    /* background-color: rgba(66,189,86,1); */
}
.login_another .not_china{
    margin: 10px 20px;
    text-align: right;
}
/* 手机选择 */
.unselected{
    display: none;
}
.select_form{
    position: absolute;
    background-color: rgba(0,0,0,.239);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
}
.select_form .paper{
    background-color: white;
    width: 300px;
    margin: 0 auto;
    height: 250px;
    border-radius: 4px;
}
.select_form .up{
    box-sizing: border-box;
    background-color: #ebf5eb;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
    color: #060;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 20px;
    line-height: 26px;
    position: relative;
}
.select_form .up a{
    font-size: 20px;
position: absolute;
left: 277px;
top: 3;
color: #ccc;
}
.select_form .main{
    margin-top: 10px;
    width: 300px;
    background-color: white;
    height: 170px;
    overflow-y: scroll;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select_form .main li{
    box-sizing: border-box;
    width: 260px;
    height: 36px;
    border-top: 1px solid #ccc;
    /* padding: 0 10px; */
    margin: 0 10px;
}
.select_form .main li .name{
    font-size: 14px;
    line-height: 36px;
}
.select_form .main li .num{
    font-size: 13px;
    float: right;
    line-height: 36px;
}
.select_form .main li:last-child{
    border-bottom: 1px solid #ccc;
}
.select_form .main .selected{
    color: #060;
    font-weight: 700;
}
.select_form .main .selected .name::after{
    content: "√";
    margin-left: 20px ;
}