body {
    background-image: url(./20240417192311171335299197480.jpg);
    background-size: 100%;
}

a {
    color: blue;
}

.main {
    width: 600px;
    height: 666px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    background-color: rgba(19, 231, 231, 0.5);
}

.main .headline {
    margin-top: 64px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.main .headline h1 {
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 4px;
}

.main .headline p {
    font-size: 14px;
    color: #9B9B9B;
}

.main .main1 {
    margin-left: 42px;
    margin-top: 40px;
}

.main .main1 .line {
    margin-bottom: 25px;
    position: relative;
}

.main .main1 .line input[type="text"] {
    width: 420px;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
}

.main .main1 .lineps {
    position: relative;
}

.main .main1 .lineps input[type="password"] {
    width: 421px;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
}

.main .main1 .line span {
    font-size: 16px;
    margin-right: 21px;
}

.main .main1 .lineps span {
    font-size: 16px;
    margin-right: 21px;
}

.main .main1 .lineps {
    margin-top: 50px;
}

.main .main1 .proofcode .lineproof input[type="text"] {
    width: 257px;
    height: 45px;
    line-height: 45px;
    box-sizing: border-box;
}

.main .main1 .proofcode .lineproof span {
    font-size: 16px;
    margin-right: 21px;
}

.main .main1 .proofcode {
    margin-top: 51px;
    position: relative;
    margin-bottom: 72px;
}

.main .main1 .proofcode .button button {
    font-size: 14px;
    height: 45px;
    width: 157px;
    position: absolute;
    top: 0px;
    left: 337px;
    background-color: white;
    box-sizing: border-box;
    border: none;
}

.main .main1 .regist button {
    height: 58px;
    width: 500px;
    background-color: blue;
    color: white;
    box-sizing: border-box;
    border: none;
    border-radius: 100px;
}

input::placeholder {
    margin-left: 10px;
}

input {
    padding-left: 10px;
    font-size: 14px;
}

input::placeholder {
    font-size: 14px;
}

input:focus {
    border: 2px solid #008c8c;
}

.tip {
    margin-top: 10px;
    box-sizing: border-box;
    width: 500px;
}

.tip .checkbox {
    width: 15px;
    height: 15px;
    background-color: white;
    content: "";
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 50%;
}

.tip input:checked+.checkbox::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: blue;
    margin-left: 2px;
    margin-bottom: 4px;
    border-radius: 50%;
}

.tip input {
    display: none;
}

.main .main1 .line .fuchuang {
    position: absolute;
    left: 86px;
    top: -42px;
    background-color: rgba(0, 0, 0, .3);
    height: 35px;
    line-height: 35px;
    display: none;
}

.main .main1 .line input:focus+.fuchuang {
    display: block;
}

.main .main1 .lineps .fuchuang {
    position: absolute;
    left: 209px;
    top: -118px;
    background-color: rgba(0, 0, 0, .3);
    height: 100px;
    line-height: 35px;
    display: none;
}

.main .main1 .lineps .fuchuang span {
    display: block;
}

.main .main1 .lineps input:focus+.fuchuang {
    display: block;
}