body{
    background-color: aqua;
}
article{
    width: 90%;
    height: 95%;
    margin: 20px auto;
}
article div img{
    width: 50%;
    float: left;
}
article div p{
    font-size: 100px;
    text-align: center;
    background-color: yellow;
    width: 48%;
    display: inline-block;
    border: 4px dashed blue;
}
article div a{
    width: 48%;
    background-color: red;
    float: left;
    font-size:30px;
    line-height: 101.6px;
    text-align: center;
    border: 4px dashed blue;
    background-clip: content-box;
}

