body {
    background-color: #4d4a40;
    line-height: 2;
    min-width: 1000px;
}

.cont {
    background-color: white;
    margin: 20px auto;
    width: 90%;
    padding: 30px 0;
}

.cont header {
    background-color: #267890;
    color: white;
    text-align: center;
    border: 5px solid #144141;
    margin: 0 -34px;
}

.cont header h1 {
    font-size: 42px;
    font-weight: bold;
}

.oring {
    color: #dbdbdb;
    margin-bottom: 26px;
}

.oring a {
    text-decoration: underline;
}

.oring a:hover {
    color: white;
}

.cont section {
    width: 90%;
    margin: 0 auto;
}

.cont section p {
    margin: 1em 0;
}

.cont section h2 {
    font-size: 32px;
    font-weight: bold;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
}