span{
    height: 15px;
    width: 15px;
    background-color: white;
    display:inline-block ;
    border: 2px solid blue;
    box-sizing: border-box;
    border-radius: 50%;
}
.input{
    display: none;
}

.input:checked+span::after{
    content: "";
    height: 10px;
    width: 10px;
    background-color: red;
    display: block;
    border-radius: 50%;
    margin-top: 0.5px;
    margin-left: 0.5px;
}